<%= react_component("navbar") %>
<div class="book section">
    <h1>Editar Livro</h1>
    <%= render 'form', text: @book %>
    <div class="links">
        <%= link_to 'Ver Mais', "/books/#{@book.id}" %> |
        <%= link_to 'Voltar', :back %>
    </div>
</div>

