<%= react_component("navbar") %>
<div class="book section">
    <h1>Editar Livro</h1>
    <%= render 'form', text: @book %>
    <div class="links">
        <%= link_to 'Ver Mais', @book %> |
        <%= link_to 'Voltar', books_path %>
    </div>
</div>

