@import "~react-bulma-components/src/index.sass";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.header, .footer {
    background-color: #FFA500;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered-text {
    text-align: center;
}

.btn-bookStatus {
    width: 163px;
    text-align: "center";
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    color: #000;
}

.book-title {
    height: 18px;
    overflow: hidden;
}

.book-img-wrapper {
    width: 291px;
    height: 364px;
}
