.menu-list a.is-active {
    background-color: #FFA500;
}

#userNoPhoto {
    padding: 20px;
    background: url("../../../assets/images/UserDefaultPhoto.svg") no-repeat;
    background-color: #E4E4E4;
    background-size: contain;
    background-origin: content-box;
}